#!/bin/bash
# 리디렉션 (stdout, stderr 전부)
exec >> /home/ubuntu/logs/db_backup.log 2>&1
set -x

# 명시적 PATH 설정
export PATH=/snap/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
export GOOGLE_APPLICATION_CREDENTIALS="/home/ubuntu/my-gcs-key.json"

# DB 백업
DATE=$(date +%F-%H-%M)
DB_PASS="{{ db_root_password }}"
BACKUP_FILE="/home/ubuntu/db_backup/moongsan_prod_db_${DATE}.sql"
GCS_PATH="gs://moongsan-backup/db/"

echo "==== DB Backup started at $(date) ====" >> /home/ubuntu/logs/db_backup.log
mysqldump -u root -p"${DB_PASS}" moongsan_prod_db > "${BACKUP_FILE}"

export GOOGLE_APPLICATION_CREDENTIALS="/home/ubuntu/my-gcs-key.json"
gsutil -o "Credentials:gs_service_key_file=/home/ubuntu/my-gcs-key.json" cp "${BACKUP_FILE}" "${GCS_PATH}" >> /home/ubuntu/logs/db_backup.log 2>&1