# ansible
ansible/.DS_Store
ansible/tmp/.DS_Store
ansible/tmp/*
ansible/.vault_pass.txt

# terraform
terraform/.terraform/*
terraform/.DS_Store
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

.DS_Store

# sql
ansible/roles/db_fix/files/*