{
  "type": "{{ gcp.credentials.type }}",
  "project_id": "{{ gcp.credentials.project_id }}",
  "private_key_id": "{{ gcp.credentials.private_key_id }}",
  "private_key": "{{ gcp.credentials.private_key | replace('\n', '\\n') }}",
  "client_email": "{{ gcp.credentials.client_email }}",  
  "client_id": "{{ gcp.credentials.client_id }}",
  "auth_uri": "{{ gcp.credentials.auth_uri }}",
  "token_uri": "{{ gcp.credentials.token_uri }}",
  "auth_provider_x509_cert_url": "{{ gcp.credentials.auth_provider_x509_cert_url }}",
  "client_x509_cert_url": "{{ gcp.credentials.client_x509_cert_url }}",
  "universe_domain": "{{ gcp.credentials.universe_domain }}"
}
