VITE_BASE_URL="https://{{ nginx.domain }}"
VITE_KAKAO_REST_KEY={{ fe.oauth.kakao.client_id }}
VITE_KAKAO_REDIRECT_URI={{ fe.oauth.kakao.redirect_uri }}
S3_BASE_URL={{ fe.s3.base_url }}
VITE_S3_BASE_URL={{ fe.s3.base_url }}