import http from 'k6/http';
import { sleep, check } from 'k6';

export let options = {
  vus: {{ vus | default(10) }},
  duration: '{{ duration | default("30s") }}',
};

export default function () {
  const res = http.get('{{ test_url | default("<https://moongsan.com/api/group-buys?orderBy=latest>") }}');
  check(res, { "status is 200": (r) => r.status === 200 });
  sleep(1);
}