[Interface]
PrivateKey = {{ client.private_key }}
Address = {{ client.address }}
DNS = 8.8.8.8

[Peer]
PublicKey = {{ wireguard_server_public_key }}
Endpoint = {{ ansible_default_ipv4.address }}:{{ wireguard_port }}
AllowedIPs = {{ wireguard.allowed_ips | default('10.0.0.0/24,10.8.0.0/24') }}
PersistentKeepalive = 25
