[Interface]
Address = {{ wireguard.server_address }}
PrivateKey = {{ wireguard.server_private_key }}
ListenPort = {{ wireguard.port }}
PostUp = iptables -A FORWARD -i {{ wireguard.interface }} -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i {{ wireguard.interface }} -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

{% for client in wireguard.clients %}
# {{ client.name }}
[Peer]
PublicKey = {{ client.public_key }}
AllowedIPs = {{ client.address }}

{% endfor %}
