[Unit]
Description=Spring Boot Backend for Moongsan
After=network.target

[Service]
User={{ system.user }}
WorkingDirectory={{ project_paths.be_repo }}
EnvironmentFile={{ project_paths.be_repo }}/.env.prod
ExecStart=/usr/bin/java -jar {{ project_paths.be_repo }}/build/libs/moongsan-backend-0.0.1-SNAPSHOT.jar
StandardOutput=append:{{ paths.log }}/be_moongsan.log
StandardError=append:{{ paths.log }}/be_moongsan.log
SuccessExitStatus=143
Restart=on-failure
RestartSec=15
StartLimitIntervalSec=300
StartLimitBurst=3

[Install]
WantedBy=multi-user.target